/* cta section  */
.cta {
  background: linear-gradient(90deg, #7bb6ff 0%, #2563eb 100%);
  padding: 80px 0;
}
.cta-row {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.cta-col {
  flex: 1;
}

.cta-image {
  width: 100%;
  max-width: 520px;
  display: block;
}
.cta-content {
  color: #000000;
}

.cta-content h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 16px;
  color: var(--secondary-color);
  max-width: 474px;
}

.cta-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 28px;
 color: var(--secondary-color);
}
.cta-phone>p{
  color: var(--secondary-color);
}
.phone-circle{
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--hover-color);
  color: var(--secondary-color);
  border-radius: 50%;
}

.cta-phone span {
  opacity: 0.9;
}
.cta-btn {
  padding: 12px 28px;
  border-radius: 12px;
  border: 1.5px solid var(--primary-color);
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden !important;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
}
.cta-btn::before,
.cta-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.4s ease;
}
.cta-btn::before {
  left: -50%;
}
.cta-btn::after {
  right: -50%;
}
.cta-btn:hover::before {
  left: 0;
}
.cta-btn:hover::after {
  right: 0;
}
.cta-btn:hover {
  color: var(--hover-color);
  outline: 1px solid var(--hover-color);
}

