.footerSec {
  background: var(--primary-color);
  padding: 70px 0 30px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER */
.footerHeader {
  text-align: center;
  color: var(--header-color);
  font-size: 36px;
  font-weight: 500;
}

/* FORM */
.footerForm {
  text-align: center;
  margin: 32px 0 155px;
}

.footerFormCont {
  max-width: 774px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
}

.email {
  border: none;
  outline: none;
  width: 100%;
  height: 76px;
  background: transparent;
  border-radius: 20px;
  padding-left: 20px;
}

.submit {
  background: var(--hover-color);
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 19px;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 5px 5px 5px 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


/* GRID */
.footerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

/* TEXT */
.footerDesc {
  color: var(--social-color);
  font-size: 12px;
  margin-bottom: 40px;
}

/* SOCIAL */
.footerSocial {
  display: flex;
  gap: 20px;
}

.footerSocial a {
  font-size: 24px;
  color: var(--social-color);
  transition: 0.4s;
}

.footerSocial a:hover {
  transform: translateY(-30%);
}

/* LINKS */
.footerContHeader {
  color: var(--hover-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.footerLink {
  color: var(--social-color);
  font-size: 16px;
  display: flex;
    gap: 9px;
    align-items: center;

}
.footerLink a {
font-size: 16px;
}

.footerLink:hover {
  color: var(--header-color);
}

.footerGrid ul li {
  margin-bottom: 8px;
}

/* LOGO */
.footerLogo {
  max-width: 52px;
  margin-bottom: 40px;
}

/* LOWER */
.footerLower {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sideBox {
  display: flex;
  font-size: 14px;
  color: var(--social-color);
}

.sideBox a:first-child {
  border-right: 1px solid var(--social-color);
  padding-right: 6px;
  margin-right: 6px;
}

.paymentIcons {
  display: flex;
  gap: 12px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footerGrid {
    grid-template-columns: 1fr;
  }

  .footerLower {
    flex-direction: column;
    gap: 20px;
  }
}

.paymentIcons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.paymentIconBox {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentIconImg {
  object-fit: contain;
}

