/* ------------------------- choose section ---------------------- */

.title2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}

.title4 {
  font-size: 24px;
  font-weight: 400;
}

.choose_sec {
  padding: 100px 0 78px;
}
.choose_cont {
  max-width: 607px;
}
.choose_cont > .title2 {
  margin: 8px 0 24px;
}
.choose_cont > .title2 > span {
  color: var(--header-color);
}
.choose_cont > ul {
  margin: 50px 0 53px;
  list-style-type: disc;
}

/* Wrapper */
.choose_img {
  max-width: 648px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

/* Image */
.chooseImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  transition: transform 0.7s ease;
}

/* Hover effect */
.choose_img:hover .chooseImg {
  transform: scale(1.05);
}


.view_btn {
  padding: 19px 34px;
  border-radius: 8px;
  background: var(--header-color);
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
}
.view_btn::before,
.view_btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--hover-color);
  z-index: 0;
  
  transition: transform 0.4s ease;
}
.view_btn span {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  height: 16px;
  width: 16px;
  transition: transform 0.3s ease;
}
.view_btn:hover .arrow {
  transform: translateX(6px);
}

.view_btn::before {
  left: 0;
  transform: translateX(-100%); 
}
.view_btn::after {
  right: 0;
  transform: translateX(100%);
}
/* .view_btn:hover::before {
  left: 0;
}
.view_btn:hover::after {
  right: 0;
} */

.view_btn:hover::before,
.view_btn:hover::after {
  transform: translateX(0);
}

.view_btn:hover {
  color: var(--secondary-color);
}


/* ------------------ RESPONSIVE ------------------ */

@media (max-width: 992px) {
  .choose_sec {
    padding: 70px 0 60px;
  }

  .choose_cont {
    margin-top: 40px;
    text-align: center;
  }

  .choose_cont ul {
    text-align: left;
    display: inline-block;
  }

  .choose_btn {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .choose_img {
    margin: 0 auto;
    max-width: 100%;
  }

  .choose_cont > .title2 {
    font-size: 32px;
  }

  .choose_cont > ul {
    margin: 32px 0;
  }
}

@media (max-width: 480px) {
  .choose_sec {
    padding: 50px 0;
  }

  .choose_cont > .title2 {
    font-size: 24px;
    line-height: 1.3;
  }

  .view_btn {
    padding: 14px 24px;
    font-size: 14px;
  }
}