/* --------------------- estimate-section-------------------- */
.title4 {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.title2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}
.estimate_sec {
  padding: 20px 0 100px;
  background: var(--offcanvsbckground-color);
}
.estimate_wraper {
  padding: 0 10px;
}
.estimate_container {
  /* border-radius: 16px; */
  background: var(--offcanvsbckground-color);
}
.estimate_cont{
  max-width: 600px;
}
.estimate_cont > .title4 {
  margin-top: 25px;
}
.estimate_cont > .title2 > span {
  color: var(--hover-color);
}
.estimate_cont > .title2 {
  margin: 8px 0 24px;
  text-transform: capitalize;
}
/* .estimate_cont > .title2 > span {
  color: var();
} */
.estimate_cont > p {
  margin-bottom: 61px;
}
.estimate_cont > ul {
  list-style-type: disc;
  padding: 0;
}
.estimate_list{
  list-style-type: none !important;
  margin: 24px 0 61px;
  padding: 0;
}
.estimate_list>li{
  margin: 8px 0;
}
.estimate_img {
  max-width: 538px;
  height: 534px;
  margin-bottom: 100px;
  position: relative;
}
.estimate_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
   transition: all 0.7s;
   overflow: hidden;
}
.estimate_img:hover img{
  transform: scale(1.05);
}
.estimate_img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(213, 225, 255, 0) 0%,
    #c3d4ff 100%
  );
  z-index: 1;
}
.estimate_sub_cont {
  text-align: center;
}
.estimate_sub_cont > .title2 {
  font-weight: 500;
  color: var(--hover-color);
}
.estimate_sub_img {
  max-width: 63px;
  margin: 0 auto;
}
.estimate_sub_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ------------------ RESPONSIVE ------------------ */

@media (max-width: 992px) {
  .estimate_sec {
    padding: 20px 0 70px;
  }

  .estimate_cont {
    text-align: center;
    margin: 0 auto 40px;
  }

  .estimate_cont ul {
    text-align: left;
  }

  .estimate_img {
    margin: 0 auto 60px;
  }
}

@media (max-width: 768px) {
  .estimate_img {
    height: auto;
    max-width: 100%;
  }

  .estimate_img::after {
    display: none;
  }

  .estimate_sub_cont {
    margin-bottom: 32px;
  }

  .counter {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .estimate_sec {
    padding: 20px 0 50px;
  }

  .estimate_cont > .title2 {
    font-size: 24px;
    line-height: 1.3;
  }

  .estimate_cont > .title4 {
    font-size: 16px;
  }

  .estimate_list {
    margin-bottom: 32px;
  }
}

