@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #242424;
  --border-color: #ffcc00;
  --back-ground-color: #ffbc44;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #262626;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --header-color: #80a3ff;
  --offcanvsbckground-color: #c3d4ff;
   --card-color:#dde6ff;
   --pagination-color: #424242;
   --serach-color:#E0E0E0;
}
.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: static;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-poppins), sans-serif;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
 
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
 
  z-index: -1;
}
#luxy{
  position: relative;
  z-index: -1;
}
main {
  
  z-index: -1;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
.footer-row {
  border-top: 1px solid var(--social-color);
  margin-top: 70px;
}
.footer-col {
  margin: 28px 0;
}
.col-20 {
  width: 20%;
  padding: 0 15px;
}
.home-col {
  position: relative;
}
.home-row {
  /* position: relative; */
}
.services-col {
  margin: 0 auto;
}
.home-col {
  margin-left: auto;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #242424;
  --pagination-color: #424242;
  --border-color: #ffcc00;
  --back-ground-color: #ffbc44;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #141414;
  --email-background-color: #f4f0f0;
  --social-color: #999999;
  --btn-color: #ccdaff;
  --slider-color: #ffbf00;
  --offcanvsbckground-color: #c3d4ff;
  --figma-blue-50: #8fb1fe;
  --review-color: #d9d9d9;
  --review-background-color: #ffbc44;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.banner-container {
  margin-top: 1px !important;
  min-height: 100vh;
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* title */
.title5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.title4 {
  font-size: 24px;
  font-weight: 400;
}
.title1 {
  font-size: 72px;
  font-weight: 600;
  text-transform: capitalize;
}
.title2 {
  font-size: 55px;
  font-weight: 600;
}
.title3 {
  font-size: 32px;
  font-weight: 500;
}

