@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #242424;
  --border-color: #ffcc00;
  --back-ground-color: #ffbc44;
  --hover-color: #2662fd;
  --secondary-color: #ffffff;
  --header-color: #80a3ff;
  --card-background-color: #c6c6c6;
  --text-color: #262626;
  --email-background-color: #c8c8c8;
  --social-color: #999999;
  --header-color: #80a3ff;
  --offcanvsbckground-color: #c3d4ff;
   --card-color:#dde6ff;
   --pagination-color: #424242;
   --serach-color:#E0E0E0;
}
.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: static;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-poppins), sans-serif;
  background-color: #ffffff;
  color: #000;
  overflow-x: hidden;
}
