/* ------ START MAP SECTION -------- */

.mapSection {
  width: 100%;
  height: 627px;
  margin: 0;
  padding: 70px 0;
  position: relative;
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* ----------- RESPONSIVE ----------- */

/* Tablets */
@media (max-width: 992px) {
  .mapSection {
    height: 500px;
    padding: 50px 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .mapSection {
    height: 400px;
    padding: 40px 0;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .mapSection {
    height: 320px;
    padding: 30px 0;
  }
}

/* ------ END MAP SECTION -------- */
