

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

/* Responsive */
@media (max-width: 992px) {
  .col {
    width: 100%;
  }
}

/* ===== Your original styles ===== */

.homeSec {
  background: var(--offcanvsbckground-color);
  position: relative;
  z-index: -1;
  padding: 114px 0 109px;
}

.homeSec::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 37%;
  background: var(--figma-blue-50);
  z-index: -2;
}

.homeImgWrapper {
  position: relative;
}

.homeImg {
  max-width: 588px;
  height: 912px;
  position: relative;
}

.homeImg:hover img,
.homeSubImg:hover img {
  transform: scale(1.15);
}

/* .homeImg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s ease;
} */

.homeImg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s ease;
}

.homeSubImg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s ease;
}

.homeImg :global(img),
.homeSubImg :global(img) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s ease;
}

.homeCont > .title2 {
  max-width: 708px;
}

.homeCont > .title3 {
  margin: 13px 0 24px;
}

.homeCont > .title1 {
  line-height: 149.8%;
}

.homeCont > p {
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 27px;
}

.homeSubImg {
  max-width: 447px;
  height: 558px;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}

/* .homeSubImg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.7s ease;
} */

.imgBox {
  position: absolute;
  max-width: 246px;
  border-radius: 8px;
  padding: 18px 35px;
  bottom: 17%;
  right: -12%;
  background: var(--secondary-color);
}

.iconBox {
  width: 52.41px;
  height: 52.41px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 92px;
  right: 85px;
  background: var(--secondary-color);
}

.homeIcon {
  width: 26.2px;
  margin: 0;
}

.homeIcon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBox > p {
  font-size: 16px;
  margin: 0;
}

.backCircle {
  width: 306px;
  height: 306px;
  border-radius: 50%;
  background: var(--back-ground-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 83%;
  right: -19%;
  z-index: -1;
}

.innerCircle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: var(--figma-blue-50);
}

