/* === card section === */
.cardSection {
  padding: 100px 0 20px;
  background: var(--card-color);
}

.card {
  margin-bottom: 50px;
  max-width: 600px;
  background: var(--card-color);
}

/* image wrapper */
.cardImg {
  position: relative;
  width: 100%;
  height: 363px;
  margin-bottom: 30px;
}

.cardImage {
  object-fit: cover;
  border-radius: 17px;
}

/* arrow */
.cardArrow {
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.card h6 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: var(--pagination-color);
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
  .cardImg {
    height: 260px;
  }

  .card h6 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }
}
