/* ===== Best Section ===== */
.bestSection {
  padding: 100px 0;
  background: var(--card-color);
}

.bestTopSection {
  text-align: center;
  margin-bottom: 50px;
}

.bestTopSection h2 {
  font-size: 55px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.bestTopSection h2 span {
  color: var(--hover-color);
}

.bestTopSection p {
  font-size: 24px;
  font-weight: 400;
  color: var(--pagination-color);
}

/* cards */
.bestCard {
  max-width: 423px;
  height: 300px;
  background: var(--offcanvsbckground-color);
  border-radius: 16px;
  padding: 36px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.bestCard:hover {
  transform: translateY(-6px);
}

.bestCardImg {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.bestCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bestCard h6 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-top: 40px;
}

.bestCard p {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
  .bestTopSection h2 {
    font-size: 42px;
  }

  .bestTopSection p {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .bestSection {
    padding: 70px 0;
  }

  .bestTopSection h2 {
    font-size: 34px;
  }

  .bestTopSection p {
    font-size: 18px;
  }

  .bestCard {
    height: auto;
    padding: 28px;
  }
}
