.service-page {
    background: #fff;
    padding: 100px 0;
}

.service-main {
    display: flex;
    justify-content: space-between;

}

/* COMMON BOX */
.left-panel,
.service-card,
.cart-box,
.offer-box,
.promise-box {
    background: #fff;
    border: 1px solid #00000080;
    border-radius: 12px;
    padding: 16px;
}

/* LEFT PANEL */
.left-panel {
    width: 380px;
    height: 500px;
}

.panel-title {
    margin-bottom: 12px;
}

.panel-title {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #00000080;
}

.panel-title::after {
    content: "";
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%);
    width: 175px;
    height: 1px;
    background-color: #00000080;
    margin-left: 12px;
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    text-align: center;
}

.service-item img {
    margin-bottom: 9px;
    max-width: 92px;
}

.service-item span {
    font-size: 12px;
}

/* CENTER PANEL */
.center-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}

.service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info h4 {
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: bold;
}

.card-info p {
    font-size: 18px;
    margin-bottom: 9px;
}

.rating {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 9px;
}

.price {
    margin: 9px 0;
    font-size: 14px;
    font-weight: 500;
}

.card-image {
    text-align: center;
    position: relative;
}

.card-image img {
    width: 120px;
    border-radius: 10px;
}

.add-btn {
    margin-top: 8px;
    font-size: 18px;
    background: var(--secondary-color);
    color: var(--btn-color);
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    bottom: -18px;
    left: 28px;
}

.add-btn:hover {
    color: var(--secondary-color);
    background-color: var(--btn-color);
    transition: 0.3s;
}

/* RIGHT PANEL */
.right-panel {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-footer {
    margin-top: 12px;
}

.cart-box {
    width: 100%;
    border: 1px solid #00000080;
    border-radius: 10px;
    padding: 16px;
    background: #fff;
    font-family: Arial, sans-serif;
}

.cart-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

.item-name {
    font-size: 14px;
    color: #444;
    margin-bottom: 8px;
    width: 125px;
}

.item-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}

.qty-control {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f2f4ff;
    padding: 4px 8px;
    border-radius: 6px;
}

.qty-control button {
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    color: #2962ff;
}

.qty-control span {
    font-size: 14px;
    font-weight: 500;
}

.item-price {
    font-size: 14px;
    font-weight: 600;
}

.cart-divider {
    margin: 12px 0;
    border: none;
    height: 1px;
    background: #242424;
}

.cart-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--hover-color);
    color: #fff;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-price {
    font-weight: 600;
}

.cart-btn:hover {
    background: #1e4ed8;
}


.offer-box {
    display: flex;
    gap: 12px;
    align-items: center;
}

.offer-box h4 {
    font-size: 20px;
}

.offer-box p {
    font-size: 15px;
}

.offer-box a {
    color: var(--hover-color);
    font-size: 18px;
}

.promise-box {
    display: flex;
    justify-content: space-around;
}

.promise-box ul {
    list-style: none;
    margin-top: 10px;
}

.promise-box h4 {
    font-size: 20px;
}

.promise-box li {
    margin-bottom: 6px;
    font-size: 14px;
}

.promise-box img {
    width: 40px;
    margin-top: 10px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}