.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
} 
  
  
  
  /* SERVICE DETAILS SECTION */
/* ================================ */ 

.service-page {
  background: #fff;
  padding: 100px 0;
}

.service-main {
  display: flex;
  justify-content: space-between;

}

/* COMMON BOX */
.left-panel,
.service-card,
.cart-box,
.offer-box,
.promise-box {
  background: #fff;
  border: 1px solid #00000080;
  border-radius: 12px;
  padding: 16px;
}

/* LEFT PANEL */
.left-panel {
  width: 380px;
  height: auto;
}

.panel-title {
  margin-bottom: 12px;
}

.panel-title {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #00000080;
}

.panel-title::after {
  content: "";
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translateY(-50%);
  width: 175px;
  height: 1px;
  background-color: #00000080;
  margin-left: 12px;
}


.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  text-align: center;
}

.service-item img {
  margin-bottom: 9px;
  max-width: 92px;
}

.service-item span {
  font-size: 12px;
}

/* CENTER PANEL */
.center-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info h4 {
  margin-bottom: 9px;
  font-size: 22px;
  font-weight: bold;
}

.card-info p {
  font-size: 18px;
  margin-bottom: 9px;
}

.rating {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 9px;
}

.price {
  margin: 9px 0;
  font-size: 14px;
  font-weight: 500;
}

.card-image {
  text-align: center;
  position: relative;
  max-width: 201px;
  border-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.add-btn {
  margin-top: 8px;
  font-size: 18px;
  background: var(--secondary-color);
  color: var(--btn-color);
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  bottom: -18px;
  left: 70px;
}


.add-btn:hover {
  color: var(--secondary-color);
  background-color: var(--btn-color);
  transition: 0.3s;
}
/* isotop */
.service-card {
  transition: all 0.4s ease;
}

.service-card.hide {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  display: none;
}

.service-item.active {
  background: #f1f5ff;
  border-radius: 10px;
}
/* RIGHT PANEL */
.right-panel {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-footer {
  margin-top: 12px;
}

.cart-box {
  width: 100%;
  border: 1px solid #00000080;
  border-radius: 10px;
  padding: 16px;
  background: #fff;
  font-family: Arial, sans-serif;
}

.cart-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 14px;
  color: #444;
  margin-bottom: 8px;
  width: 125px;
}

.item-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
}

.qty-control {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f2f4ff;
  padding: 4px 8px;
  border-radius: 6px;
}

.qty-control button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  color: #2962ff;
}

.qty-control span {
  font-size: 14px;
  font-weight: 500;
}

.item-price {
  font-size: 14px;
  font-weight: 600;
}

.cart-divider {
  margin: 12px 0;
  border: none;
  height: 1px;
  background: #242424;
}

.cart-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--hover-color);
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-price {
  font-weight: 600;
}

.cart-btn:hover {
  background: #1e4ed8;
}


.offer-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.offer-box h4 {
  font-size: 20px;
}

.offer-box p {
  font-size: 15px;
}

.offer-box a {
  color: var(--hover-color);
  font-size: 18px;
}

.promise-box {
  display: flex;
  justify-content: space-around;
}

.promise-box ul {
  list-style: none;
  margin-top: 10px;
}

.promise-box h4 {
  font-size: 20px;
}

.promise-box li {
  margin-bottom: 6px;
  font-size: 14px;
}

.promise-box img {
  width: 40px;
  margin-top: 10px;
}


@media screen and (max-width: 1330px) {
  /* ---------- START HEADER SECTION ------------ */


  /* ---------- END HEADER SECTION ------------ */
  /* ---------- START BANNER SECTION ----------- */
  .hero-main {
    height: 380px;
  }

  .hero-content h1 {
    font-size: 56px;
  }

  .bulb-img {
    width: 180px;
  }

  .light-beam {
    width: 250px;
    height: 230px;
    left: 50%;
  }

  .worker-img {
    width: 330px;
  }

  /* ---------- END BANNER SECTION ----------- */
  /* ----------- START SERVICE SECTION ------------ */
  .service-main {
    gap: 20px;
  }

  .left-panel,
  .right-panel {
    width: 380px;
  }

  .center-panel {
    width: 500px;
  }

  .card-info h4 {
    font-size: 20px;
  }

  .card-info p {
    font-size: 16px;
  }

  .card-image img {
    width: 110px;
  }

}

@media screen and (max-width: 1200px) {
  .hero-main {
    height: 360px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .bulb-wrapper {
    left: 20px;

  }

  .bulb-img {
    width: 160px;
  }

  .light-beam {
    width: 220px;
    height: 210px;
  }

  .worker-img {
    width: 300px;
  }

  .worker-wrapper>img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  /* ------- END BANNER SECTION ------------ */
  /* ------- START SERVICE SECTION ------------ */
  .service-main {
    gap: 16px;
  }

  .panel-title::after {
    display: none;
  }

  .left-panel,
  .right-panel {
    max-width: 380px;
    height: auto;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center-panel {
    width: 420px;
  }

  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-info h4 {
    font-size: 18px;
  }

  .card-info p {
    font-size: 15px;
  }

  .add-btn {
    font-size: 16px;
    left: 22px;
  }


}

@media screen and (max-width: 991px) {
  /* ---------- START HEADER SECTION ------------ */

  /* ---------- END HEADER SECTION ----------- */
  /* ----------- START BANNER SECTION ----------- */
  .hero-section {
    margin-top: -20px;
  }

  .hero-main {
    height: auto;
    min-height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    gap: 20px;
  }

  /* Bulb top */
  .bulb-wrapper {
    position: relative;
    left: 0;
    top: 0;
    order: 1;
    margin: 0 auto;
  }


  .light-beam {
    width: 200px;
    height: 190px;
    top: 50%;
    left: 46%;
  }

  /* Text center */
  .hero-content {
    order: 2;
    text-align: center;
    margin: 170px auto 70px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content p {
    font-size: 16px;
  }

  /* Worker bottom */
  .worker-wrapper {
    margin: 0 auto 0;
  }

  .worker-img {
    width: 250px;
  }

  /* ----------- END BANNER SECTION ----------- */
  /* ----------- START SERVICE SECTION ----------- */

  .service-page {
    padding: 70px 0;
  }

  .service-main {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .panel-title {
    text-align: center;
  }

  .panel-title::after {
    display: none;
  }

  .left-panel {
    max-width: 380px;
    margin-bottom: 30px;
  }

  .center-panel {
    max-width: 500px;
    margin-bottom: 30px;
  }

  .right-panel {
    max-width: 380px;
  }

  .service-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-item img {
    width: 94px;
  }

  .service-card {
    flex-direction: column;
    gap: 12px;
    padding-bottom: 30px;
  }

  .card-image {
    align-self: center;
  }

  .add-btn {
    margin-top: 8px;
  }

  .right-panel {
    gap: 12px;
  }


  /* ----------- END SERVICE SECTION ----------- */
  /* ------ START FOOTER SECTION ------ */

  /* ------ END FOOTER SECTION ------ */

}
@media screen and (max-width:576px){
  /* hero-sec */
  .hero-section{
    margin-top: -50px;
  }
 
}