.appSec {
  background: var(--hover-color);
  position: relative;
  z-index: -2;
  padding: 50px 0;
}

.appSec::after {
  content: "";
  clip-path: polygon(43% 0, 100% 0, 100% 100%, 0% 100%);
  background: var(--back-ground-color);
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* CONTAINER */
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 16px;
}

/* GRID */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.leftCol,
.rightCol {
  flex: 1;
}

/* CONTENT */
.appCont .title2 {
  max-width: 708px;
  color: var(--secondary-color);
  margin-bottom: 32px;
}

/* STORE BUTTONS */
.appBox {
  display: flex;
}

.playStoreImg,
.appleStoreImg {
  max-width: 193px;
  transition: all 0.4s linear;
}

.playStoreImg {
  margin-right: 16px;
}

.playStoreImg:hover,
.appleStoreImg:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}

/* MOBILE IMAGE */
.mobileImg {
  max-width: 427px;
  position: relative;
  perspective: 1000px;
}

/* RATING BUBBLE */
.ratingBubble {
  background: #ffffff;
  max-width: 344px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 50%;
  right: -27%;
  pointer-events: none;
}

.ratingBubble::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -92px;
  width: 104px;
  height: 96px;
  background: var(--secondary-color);
  border-radius: 0 0 50% 50%;
  clip-path: polygon(53% 0, 37% 32%, 22% 47%, 0 53%, 14% 40%, 21% 25%, 22% 0);
}

/* STARS */
.stars {
  margin-bottom: 8px;
}

.stars i {
  font-size: 20px;
  color: var(--secondary-color);
}

.stars i.active {
  color: var(--border-color);
}

/* TEXT */
.ratingBubble h3 {
  font-size: 18px;
  margin: 8px 0 12px;
  color: var(--primary-color);
}

/* BRAND */
.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: var(--primary-color);
}

.brand .trust {
  color: var(--hover-color);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .ratingBubble {
    right: 0;
    bottom: 20%;
  }
}

.title2 {
  font-size: 55px;
  font-weight: 600;
}
.title3 {
  font-size: 32px;
  font-weight: 500;
}
